@{
    ViewBag.Title = "Contact";
}

<div id="sve">
    <h2>@ViewBag.Title.</h2>
    <address>
        <div id="bulevar">Address: Bulevar Meše Selimovića bb, Sarajevo</div>
        <br />
        <abbr title="Phone" id="phone">Phone Number:</abbr>
        033-470-119
    </address>

    <address>
        <strong id="please">Please contact this email if there are any issues:</strong>   <a href="mailto:imran.ahmic@yahoo.com">imran.ahmic@yahoo.com</a><br />

    </address>
</div>

<body style="width: 100%; height: 100%;">

</body>



<style>
    body {
        background-image: url('/Content/Images/FudbalSLikaPNG.png');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
    }

    #please{
        font-size: 14px;
        color: white;
        position: center;
    }

    #phone {
        font-size: 14px;
        color: white;
        position: center;
    }
    #bulevar {
        font-size: 14px;
        color: white;
        position: center;
    }
    #sve{
          font-size: 14px;
        color: white;
        position: center;
    }
</style>