@using FCRS.Models;
@model IEnumerable<FCRS.Models.Message>
@{
    ViewBag.Title = "Index";
}
@{
            User user = ViewData["user"] as User;
}




<head>
</head>
<body style="width: 100%; height: 100%;">

</body>

<h2>Player Finder</h2>

<form action="/Message/SendMessage">
    <div id="Search">
        <input type="text" name="text" />


        <input type="submit" value="Post" class="btn btn-default" />
    </div>
</form>
<br />
@*@foreach (Message msg in Model@*)*@

    @*<div class="text-left">@msg.MessageText</div>*@


<div class="form-group">
    @foreach (Message message in Model)
    {
        <div class="text-left">

            <div><b>@message.User.Firstname</b></div>
            <div> @message.MessageText</div>
       <br />
          @if (user != null && user.Admin != false) {
            <div>@Html.ActionLink("Delete", "DeleteMessage", new { id = message.MessageID })</div>
          }


        </div>
        <hr />
    
}

    </div>



    <style>
        .text-left {
            background-color: #7FDBFF;
            border: none;
            font-size: 16px;
            border-radius: 0px;
            background:#008CBA;
            padding: 20px;
            width: 700px;
            height: 80px;
            color: white;
            text-align:left;
        }

        #Search{
            position:center;


        }
        


        
        .btn-default {
            background: #008CBA;
            color: white;
        }

        body {
            background-image: url('/Content/Images/FudbalSLikaPNG.png');
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
        }


         .form-group {
        position: relative;
        z-index: 1;
        background: #fff;
        max-width: 720px;
        margin: 0 auto 100px;
        padding: 10px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

        


    }

    </style>
